<% include layout-header %>
	
	<section id="main_content">
		
		<div class="section">
			<h2>
				 Ramblings
			</h2>
			<% 
				// a reverse loop, so new stuff is at the top
				for (var i = 0; i < posts.length; i++) {
					var post = posts[posts.length - 1 - i];
					%>
						<div class="post-card <%= post.meta.category.replace(/ /gi, '-') %>">
							<a class="title" href="/posts/<%= post.filename %>.html"><%= post.meta.title %></a>
							<!--
							<span class="category hide"><%= post.meta.category %></span>
							<span class="date hide"><%= moment(post.meta.date).format("MMMM YYYY") %></span>
							-->
						</div>
					<%
				}
			%>
		</div>
	</section>
	
<% include layout-footer %>